/* 
/* Global Styles */
 body {
    margin-bottom:10px;
    padding: 20px ;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding-top: 500px;
    background-color:rgb(173, 131, 131);
    background-repeat: no-repeat;
    background-image: url(./assets/img/1.png);
    background-size: cover;
    overflow: hidden;
    font-size: 1.3rem;
    
}

.register__img{

    background-color:darkseagreen;
    
}
.register{
    position: relative;
  background-color: hsla(0, 0%, 10%, 0.1);
  border: 2px solid var(--white-color);
  margin-inline: 1.5rem;
  padding: 2.5rem 1.5rem;
  border-radius: 1rem;
  backdrop-filter: blur(8px);
  width: 400px;
  margin: auto;
  margin-top: -350px;
}


/* Register Styles */
/* .register {
    position: relative;
    top: 100%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: -100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    box-sizing: border-box;
    opacity: 1;
} */

.register__title {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}
.register__content {
    margin-bottom: 20px;
}
.register__box {
    position: relative;
    margin-bottom: 20px;
}
.register__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #ccc;
}
.register__box-input {
    margin-left: 40px;
}
.register__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 1.3rem;
    box-sizing: border-box;
    
}

.register__label {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    color: #999;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s;
}
.register__input:focus + .register__label,
.register__input:valid + .register__label {
    top: 0;
    font-size: 14px;
    color: #333;
}

.register__button {
    position: relative;
    width: 350px;
    padding: 12px;
    background-color: #4CAF50;
    color: rgb(243, 243, 243);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-left: 45px;

}    
.register__input2{
    color: #47c354;
}
.register__button:hover {
    background-color: #47c354;
}
.register__login {
    text-align: center;
    font-weight: bold;
}
.register__login a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}
.register__login a:hover {
    color: #4eb14a;
}


.register__button a {
text-decoration: none;
color: rgb(255, 255, 255);

}



#img{
    object-position: 150px;
    
}


@media screen and (max-width: 600px) {
    .register__button {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
 
